// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import "../../node_modules/bootstrap/scss/functions";

$primary: #02a5a5;
$theme-colors: (
  "primary": $primary,
);

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}
body {
  // background-color: #101010;
  color: $primary;
}
h1 {
  font-weight: bolder;
}

.spline-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  border-radius: 12px;
  background: $primary;
  transform-origin: 0%;
}
.navstyle {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}
.menubtn {
  z-index: 3;
}
.showmenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eec0c0;
  z-index: 2;
}

.fill_btn {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.65rem 1.75rem;
  border-radius: 0.4rem;
  color: #fff;
  background-size: 220%;
  outline: 2px solid $primary;
  background-image: linear-gradient(120deg, transparent 50%, $primary 50%);
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active {
    background-position: 100%;
    box-shadow: 0 0 1rem $primary;
  }
}

.fill-text {
  background-image: linear-gradient(90deg, transparent 0%, $primary 100%);
  background-clip: text;
  color: white;
  padding: 0 3rem;
  &:hover,
  &:active {
    color: transparent;
    animation: fillText 0.2s;
  }
}

.hover {
  cursor: pointer;
  color: white;
  &:hover {
    color: $primary;
  }
}
.btn-close {
  color: white;
}

.soundBars {
  display: absolute;
  height: 20px;
  width: 18px;
  border-radius: 50%;

  span {
    background: linear-gradient(to right, #fff, #101010);
    margin: auto 1px 0;
    height: 100%;
    width: 2px;
    transform: scaleY(0.99);
    transform-origin: bottom;
    box-shadow: 0 4px 0 rgba(255, 255, 255, 0.2);
    transition: all 0.4s ease-in-out;
    &:nth-child(1) {
      transform: scaleY(0.8);
    }
    &:nth-child(2) {
      transform: scaleY(0.6);
    }
    &:nth-child(4) {
      transform: scaleY(0.4);
    }
  }
  &.play > span {
    background: linear-gradient(to right, #0c30ff, #fc0202);
    animation: sound-bars-animation 2s infinite alternate-reverse;

    // Scatter animations
    &:nth-child(1) {
      animation-delay: 0.4s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      animation-delay: 0.8s;
    }
  }

  &:before {
    content: "";
    position: absolute;
    opacity: 0;
    height: 0px;
    width: 0px;
    background: #ded7de;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    &:before {
      width: 50px;
      height: 50px;
      opacity: 1;
    }
    > span {
      background: #dd0c0c;
    }
  }
}

.card-text {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background: linear-gradient(120deg, rgb(33, 153, 223) 0%, #8fb159 100%);
}
.card-func {
  position: absolute;
  bottom: 1rem;
  right: 0;
  padding: 0.5rem 1rem;
  // border-radius: 20px  0 0 20px;
  background: linear-gradient(
    120deg,
    rgba(3, 137, 77, 0.728) 0%,
    rgb(0, 44, 62) 100%
  );
}
.bg {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  padding: 2rem;
  border-radius: 50px;
  background: rgba(231, 255, 251, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.9) inset;
  backdrop-filter: blur(50px);
  z-index: -1;
  user-select: none;
  pointer-events: none;
}
.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

::-webkit-scrollbar {
  width: 8px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #02a5a5;
}
::-webkit-scrollbar-thumb:hover {
  background: #74fd68;
}
@keyframes fillText {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes sound-bars-animation {
  50% {
    opacity: 0.2;
    transform: scaleY(0.2);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
// @keyframes light {
//   0% {
//     box-shadow: 0px 0px 40px 0px rgba(6, 129, 132, 0.3);
//   }
//   100% {
//     box-shadow: 0px 0px 80px 0px rgba(6, 129, 132, 0.6);
//   }
// }
